<!DOCTYPE html>
<html ng-app="toggl-tag-browser" ng-csp lang="en">
<head>
	<title>toggl-tag-browser</title>

	<link rel="stylesheet" href="../css/daterangepicker-bs3.css"/>
	<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<link href="../css/main.css" rel="stylesheet"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="TagBrowserCtrl">
	<div class="row">
		<div class="col-sm-4">
			<div id="reportrange" class="reportrange well" event-range-picker></div>

			<div id="projects" class="well">
				<h4>Projects</h4>
				<ul class="filterList">
					<li ng-repeat="project in activeProjects">
						<button type="button" class="btn btn-xs" ng-click="toggleProject(project.pid)" ttb-project="{{project.pid}}" project-button></button>
					</li>
				</ul>
			</div>

			<div id="tags" class="well">
				<h4>Tags</h4>
				<ul class="filterList">
					<li ng-repeat="tag in filteredTagsIndex | filter:allTagsFilter">
						<button type="button" class="btn btn-xs" ng-click="toggleTag(tag)" ttb-tag="{{tag}}" tag-button></button>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-sm-8">
			<table>
				<tr ng-repeat="tag in filteredTagTimeSeriesIndex | orderBy:tag">
					<td><a href="#" ng-click="toggleTag(tag)">{{tag}}</a></td>
					<td><div class="tag-share-plot" ttb-tag="{{tag}}" duration-share-chart></div></td>
					<td><div class="tag-plot" ttb-tag="{{tag}}" timeseries-chart></div></td>
				</tr>
			</table>
		</div>
	</div>


	<script type="text/javascript" src="../js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../js/moment.min.js"></script>
	<script type="text/javascript" src="../js/daterangepicker.js"></script>

	<script type="text/javascript" src="../js/jquery.flot.min.js"></script>
	<script type="text/javascript" src="../js/jquery.flot.pie.min.js"></script>

	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
